version: '3.3'
services:
    eugeny:
        command: --token-auth --port 443 --host 0.0.0.0
        environment:
            - TABBY_AUTH_TOKEN=XXX
        ports:
            - 9000:443
            #change to 9000:9000 if not using ssl
        image: 'ghcr.io/eugeny/tabby-connection-gateway:master'
`
