name: Docker

on:
  schedule:
    - cron: '25 12 * * *'
  push:
    branches: [ master ]
    # Publish semver tags as releases.
    tags: [ 'v*.*.*' ]
  pull_request:
    branches: [ master ]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: eugeny/tabby-connection-gateway

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      # https://github.com/docker/setup-qemu-action
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      # https://github.com/docker/setup-buildx-action
      - name: Docker Setup Buildx
      # You may pin to the exact commit or the version.
      # uses: docker/setup-buildx-action@f95db51fddba0c2d1ec667646a06c2ce06100226
        uses: docker/setup-buildx-action@v3.0.0
        with:
      # Buildx version. (eg. v0.3.0)
      version: # optional
      # Sets the builder driver to be used
      driver: # optional, default is docker-container
      # List of additional driver-specific options. (eg. image=moby/buildkit:master)
      driver-opts: # optional
      # Flags for buildkitd daemon
      buildkitd-flags: # optional, default is --allow-insecure-entitlement security.insecure --allow-insecure-entitlement network.host
      # Sets up docker build command as an alias to docker buildx build
      install: # optional, default is false
      # Switch to this builder instance
      use: # optional, default is true
      # Optional address for docker socket or context from `docker context ls`
      endpoint: # optional
      # Fixed platforms for current node. If not empty, values take priority over the detected ones
      platforms: # optional
      # BuildKit config file
      config: # optional
      # Inline BuildKit config
      config-inline: # optional
      # Append additional nodes to the builder
      append: # optional
      # Cleanup temp files and remove builder at the end of a job
      cleanup: # optional, default is true

      - name: Log into registry ${{ env.REGISTRY }}
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v1
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v3
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=schedule
            type=raw,value=latest,enable=${{ endsWith(github.ref, github.event.repository.default_branch) }}
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}

      - name: Build and push Docker image
        uses: docker/build-push-action@v2
        with:
          context: .
          build-args: EXTRA_DEPS=gcsfs
          platforms: linux/amd64,linux/arm64
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
